/* Breakpoint 768px da Seção Sobre */

@media (max-width: 768px) {
    .sobre {
        width: 100%;
    }

    .sobre div img, .descricao {
        display: block;
        width: 100%;
    }
    
}

/* Breakpoint 768px da Seção Etapas */

@media (max-width: 768px) {
    .etapas > div {
       display: block;
       margin: 0 auto;
    }
}

/* Breakpoint 768px da Seção Serviços */

@media (max-width: 768px) {
    header div > a, .servicos div > a {
        background-color: yellow;
        padding: 2% 5%;
        border-radius: 2px;
        text-decoration: none;
        color: rgb(126, 106, 18);
        font-family: 'Flamenco', cursive, Arial, Helvetica, sans-serif;
        text-transform: uppercase;
        margin-top: 3%;
        display: block;
        width: 50%;
        margin: 0 auto;
    }
}

@media (max-width: 768px) {
    .servicos > div {
        display: block;
        margin: 0 auto;
    }
    
}

@media (max-width: 768px) {
    .servicos div div {
        background-color: rgb(43, 145, 170);
        border-radius: 2%;
        padding: 3%;
        max-width: 70%;
        max-height: 90%;
        text-align: center;
        margin: 3%;
    }
    
}
