
/* Condições Gerais */
* {
    font-family: 'Asap', arial, helvetica, sans-serif;
}

h2 {
    font-family: 'flamenco', Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
}

/* Cabeçalho */

header {
    min-height: 90vh;
    background: url(../img/bg-banner.png);
    background-repeat: no-repeat;
    background-size: cover;    
}

.topbar {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    position: fixed;
    width: 100%;
    text-align: center;
    background-color: rgba(0,0,0,.4)
}

.topbar ul li {
    display: inline;
}

.topbar ul li a {
    text-decoration: none;
    color: white;
    padding-right: 10px;
}

.topbar a.botao {
    color: yellow;
    border: 1px solid yellow;
    border-radius: 2px;
    padding: 10px;
}

header h1 {
    font-family: 'flamenco', Arial, Helvetica, sans-serif; 
    text-transform: uppercase;
}


header > div {
    max-width: 700px;
    margin: 0 auto;
    padding-top: 15%;
    text-align: center;
    color: white;
}

header div > a, .servicos div > a {
    background-color: yellow;
    padding: 10px 20px;
    border-radius: 2px;
    text-decoration: none;
    color: rgb(126, 106, 18);
    font-family: 'Flamenco', cursive, Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    margin-top: 30px;
    display: block;
    width: 170px;
    margin: 0 auto;
}

/* Seção Sobre */

.sobre {
    margin: 0 auto;
    width: 50%;
    padding: 2%
}

.sobre > div {
    display: flex;
    justify-content: space-around;    
}

.sobre div img {
    display: inline-block;
}

.descricao{
    display: inline-block;
    width: 60%;
}

.descricao h2 {
    font-family: 'Flamenco', cursive, Arial, Helvetica, sans-serif;

}

.descricao p {
    color: gray;
}

.etapas h2 {
    text-align: center;
}

.etapas > div {
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.etapas div div {
    width: 25%;
    color: gray;
    padding-top: 2%;
    font-size: 110%;
}

/* Seção Serviços */

.servicos {
    min-height: 90vh;
    background: url(../img/bg-servicos.png);
    background-repeat: no-repeat;
    background-size: cover;   
    
}

.servicos h2 {
    text-align: center;
    padding: 2%;
    
}

.servicos div div {
    background-color: rgb(43, 145, 170);
    border-radius: 2%;
    padding: 3%;
    max-width: 30%;
    max-height: 50%;
    text-align: center;
}

.servicos h3 {
    color: white;
    font-size: 150%;
}

.servicos p {
    color: white;
}

.servicos > div {
    display: flex;
    justify-content: space-around;
    max-width: 80%;
    margin: 0 auto;
}

/* Seção Curiosidades */

.curiosidades {
    background: url(../img/bg-numeros.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.curiosidades h2 {
    text-align: center;
    color: white;
    padding-top: 2%;
    margin: 0;
}

.curiosidades > div {
    display: flex;
    justify-content: space-around;
    max-width: 60%;
    margin: 0 auto;
    text-align: center;
    padding: 2%;
}

.curiosidades div > p {
    font-size: 250%;
    color: yellow;
    font-weight: 700;
    margin: 0;
    width: 60%;
}

.curiosidades span {
    color: white;
    display: block;
    width: 60%;
}

/* Seção Contato */

.contato {
    background-color: rgba(211, 211, 211, 0.507);
    padding: 3%;
}

.contato h2 {
    margin: 0;
    text-align: center;
}

.contato p {
    font-family: 'Flamenco', cursive, Arial, Helvetica, sans-serif;
    font-size: 160%;
    margin-top: 1%;
    font-weight: bold;
    text-align: center;
}

.contato form {
    text-align: center;
    margin: 0 auto;
    max-width: 450px;
    
}

.pt1 {
    display: flex;
    justify-content: space-between;

}

.pt1 label {
    display: inline-block;
    text-align: left;
}

.pt1 > div {
    width: 45%;
    text-align: left;
}

.pt1 input {
    width: 100%;
    background-color: wheat;
}

.contato div label {
    display: block;
    text-align: left;
    padding: 1% 0;
}

.assunto > input {
    width: 100%;    
    background-color: wheat;
    
}

.mensagem > textarea {
    width: 100%;
    background-color: wheat;
    
    
}

.bt-form {
    background-color: rgb(43, 145, 170);
    color: white;
    display: block;
    width: 100%;
    margin: 0 auto;
    padding: 1%;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 120%
}

/* Seção Newsletter */

.news {
    background-color:yellow;
    padding: 3% 0;
}

.news h2 {
    font-size: 250%;
    text-align: center;
    margin: 0;
}


.news form {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    width: 100%;
}

.news > div {
    width: 45%;
    margin: 0 auto;
    padding: 1% 0 ;
}

.news form > div {
    width: 45%;
}

.news form {
    width: 100%;
}

.bt-email {
    width: 100%;
    padding: 2%;
   
}

.bt-form2 {
    background-color: red;
    color: white;
    padding: 2% 0;
    width: 100%;
    text-transform: uppercase;
    font-size: 120%
}

/* Seção Footer */

footer {
    background-color: gray;
    color: white;
    padding: 2%;
}

footer > div {
    display: flex;
    justify-content: space-around;
}

footer a {
    text-decoration: none;
    color: white;
}

footer ul li {
    list-style: none;
    padding: 1%;
}

footer p {
    margin: 0;
}

.ft-email {
    font-size: 80%;
    text-align: center;
}

.ft-email ~ p {
    padding-top: 15%;
}

.redes > div {
    display: flex;
    justify-content: space-around;
    padding: 8%;
}
